body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

.game {
  display: flex;
  flex-direction: row;
  justify-content: center;
}


.flashcard {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.flashcard img {
  max-width: 50%;
  padding-top: 22px;
}


.board {
  display: flex;
  flex-direction: column;
}


.answerinput {
  display: flex;
  justify-content: space-evenly;
  padding-top: 22px;
}

.answerinput input {
  text-transform: capitalize;
  font-size: 44px;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
}

.answerinput input:focus {
  text-transform: capitalize;
  font-size: 44px;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
}